stages:
  - build
  - test

build:
  stage: build
  tags:
    - main
  image: oven/bun:1
  script:
    - bun install
    - bun run build

typecheck:
  stage: test
  tags:
    - main
  image: oven/bun:1
  script:
    - bun install
    - bun run typecheck
